html,
body {
  width: 100%;
  height: 100%;
}
a:visited{
  color: white;
}
a:visited {color:white;} 

.my-navbar[_ngcontent-c1] a[_ngcontent-c1]:hover{
  color:white!important;
}
/*非常重要的样式让背景图片100%适应整个屏幕*/

.bg {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;
  background-color: #000;
  background-size: cover;
}

.my-navbar {
  padding: 20px 0;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.my-navbar a {
  background: transparent !important;
  color: #fff !important
}

.my-navbar a:hover {
  color: #45bcf9 !important;
  background: transparent;
  outline: 0
}

.my-navbar a {
  transition: color 0.5s ease-in-out;
}


/*-webkit-transition ;-moz-transition*/

.top-nav {
  padding: 0;
  backgrowund: #000;
}

button.navbar-toggle {
  background-color: #fbfbfb;
}


/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/

button.navbar-toggle>span.icon-bar {
  background-color: #dedede
}

footer {
  margin: 30px;
}

.zone-title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-free-publish{
  padding: 10px;
  background-color: red;
}
.btn-free-publish:hover{
  background-color: gainsboro;
}
