.secitem_fist{
    padding: 10px 20px;
    background:#FAFAFA;
    margin-top: 0;
    border-bottom: solid 1px #F3F3F3;
}
.secitem{
    line-height: 18px;
}
.secitem a{
    margin-right: 17px;
    font-size: 12px;
}
.secitem .select, .search_nav span.select{
    color: #FF552E;
}
.secitem dt, .barct span{
    color: #888;
    width: 36px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    float: left;
}
.secitem dt{
    margin-right: 12px;
}
.search_bd{
    height: 100px!important;
    max-height: 150px;
}
.test{
    height:100px;
}