
  .iconfont {
    font-size: 50px;
    color: #FF552E;
  }
  h4 {
    font-weight: 300;
    color: rgb(184, 183, 183)
  }
//   .login-bg {
//     background-image: url('assets/reg-bg.png');
//     background-size: cover;
//   }
  .register {
    margin-bottom: 15px;
    text-align: center;
  }
  .register>a {
    font-size: 12px;
  }
