<div class="login-box">
    <div class="login-logo">
        <a>
            <span class="iconfont icon-shandian"></span>
            <h4>一念之间，闪租无限</h4>
          </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <!-- <p class="login-box-msg">请输入账号密码登录</p> -->
      <form method="post">
        <div class="form-group has-feedback">
          <input type="text" [(ngModel)]='user.realname' name="realname" class="form-control" placeholder="真实姓名" />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="身份证号码" [(ngModel)]='user.personId' name="personId" />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-4">
            <div class="form-group" style="display:none">
              <input type="hidden" value="seller" [(ngModel)]='user.role' name="role"/>
            </div>
          </div>
          <!-- /.col -->
  
          <button type="button" (click)="submitCheckId()" class="btn btn-primary btn-md btn-block btn-flat">验证</button>
  
        </div>
      </form>
      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
  </div>
  